.container
  .jumbotron
    %h2 Welcome to Foosball Tracker!
    %p Foosball Tracker will help you to keep track of your matches. Register players, save results of your matches and compare them in the ranking table! Enjoy the game!