.container
  %h1.text-center Ranking of players
  .row
    .col-sm-6.col-sm-offset-3
      %table.table.table-hover.table-striped.transparent.table-curved
        %tr
          %th 
          %th
          %th Full name

          -players.each_with_index do |p, i|
            %tr
              %td.text-center
                %strong= i + 1
              %td= link_to image_tag(p.avatar_url(:thumb), class: 'img-rounded'), player_path(p)
              %td= link_to p.full_name, player_path(p)
      %p.pagination= will_paginate players