.container
  .masthead
    %h3.glyphicon.glyphicon-star-empty Foosball tracker 
    %ul.nav.nav-pills.nav-justified
      %li= link_to 'Main', root_path, class: 'btn btn-danger'
      %li= link_to 'Ranking', '#', class: 'btn btn-info'
      %li= link_to 'Players', '#', class: 'btn btn-warning'
      %li= link_to 'Matches', '#', class: 'btn btn-success'
